{
  // use babel-eslint for parsing
  "parser": "babel-eslint",
  "env": {
    // for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single", "avoid-escape"],
    "curly": [2, "all"]
  },
  "globals": {
    "Modernizr": false,
    "define": false,
    "require": false,
    "log": true
  }
}
