include /core/html/mixins

.panel-3-module(data-module="panel-3")
  .launch
    h1.announce!= data.header
    img#tilt.rotate(src="../../assets/img/twitter advertising_e-book_cover.jpg", alt="A Guide to Twitter Advertising")
  .download-btn
    a(href="../../assets/pdf/twitter advertising_e-book_9.10.pdf" download) DOWNLOAD
    
       