include /core/html/mixins

.panel-3-module(data-module="panel-3")
  .panel-3
    h1.announce!= data.header
    .download-guide
      img.rotate(src="../../assets/img/img_panel_3.png", alt="Guide to Twitter Advertising")
      .download-button
        a(href="../../assets/pdf/twitter advertising_e-book_8.13 (2).pdf" download) DOWNLOAD