include /core/html/mixins

.panel-3-module(data-module="panel-3")
  .launch
    h1.announce!= data.header
    img#tilt.rotate(src="../../assets/img/cover_twitter_ads_ebook.png", alt="Guide to Twitter Advertising")
  .download-btn
    a(href="../../assets/pdf/twitter advertising_e-book_8.13 (2).pdf" download) DOWNLOAD
    
       