@import "../../core/styles/_variables";
@import "../../core/styles/_mixins";

.panel-3-module {
  background: #26BA66;
  padding: 75px 50px;
  @media (max-width: 768px) {
    padding: 75px 0;
  }
  .launch {
    display: flex;
    align-items: center;
    span {
      font-weight: 300;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .announce {
      padding-right: 35px;
      width: 60%;
      @media (max-width: 768px) {
        text-align: center;
        padding-right: 0;
        width: 80%;
      }
    }
    img {
      width: 40%;
      -webkit-box-shadow: 0px 0px 25px 5px rgba(26, 25, 26, 0.5);
      -moz-box-shadow: 0px 0px 25px 5px rgba(26, 25, 26, 0.5);
      box-shadow: 0px 0px 25px 5px rgba(26, 25, 26, 0.5);
      @media (max-width: 768px) {
        margin-top: 30px;
        width: 80%;
      }
      @media (max-width: 460px) {
        margin-top: 30px;
        width: 80%;
      }
    }
  }
  .download-btn {
    background: $white;
    padding: 7.5px 0;
    margin: 50px auto 0;
    text-align: center;
    width: 221px;
    &:hover {
      border: .25px solid #F7B000;
    }
    &:active {
      background: $white;
    }
    a {
      font-size: 28px;
      font-weight: bold;
      line-height: 33.6px;
      color: $black;
      cursor: pointer;
      padding: 8.5px 27px;
      &:hover {
        color: #1DA0F1;
      }
    }
  }
}
