extends /core/html/page

block title
  title twitter-info

block content
  //- Insert page modules here
  //- +module('panel-1', 'default')
  .container
    +module('panel-2', 'default')
    +module('panel-3', 'default')
    +module('panel-4', 'default')
    +module('panel-5', 'default')
    +module('panel-6', 'default')
    +module('panel-7', 'default')
    +end