include /core/html/mixins

.panel-5-module(data-module="panel-5")
  .guide-desc
      .description
        .triangle-1
        p.left!= data.content1
        .icon
          img(src="../../assets/img/img_panel_5_1.png", class="chart-bottom" alt="chart")
          img(src="../../assets/img/img_panel_5_1_2.png", class="chart-back" alt="chart")
          img(src="../../assets/img/img_panel_5_1_3.png", class="chart-focus" alt="focus")
      .description
        .triangle-2
        p.center!= data.content2
        .icon-2
          img(src="../../assets/img/img_panel_5_2.png", class="small-head" alt="head")
          img(src="../../assets/img/img_panel_5_2_2.png", class="large-head" alt="head")
      .description
        .triangle-3
        p.right!= data.content3
        .icon-3
          img(src="../../assets/img/img_panel_5_3_2.png", class="hand" alt="click play")
          img(src="../../assets/img/img_panel_5_3.png", class="media" alt="click play")